* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    background-color: rgba(240, 240, 240, 1);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    padding: 12px 0px;

    background-color: rgba(240, 240, 240, 0.8);
    backdrop-filter: blur(15px);
}

.nav-left-side h1 {
    font-size: 25px;
}

.nav-right-side ul {
    display: flex;
    gap: 15px;

    list-style: none;
}

.nav-link-active {
    text-decoration: underline !important;
    text-decoration-thickness: 1.7px !important;
    text-underline-offset: 5px;
    text-decoration-color: rgb(255, 181, 103) !important;
}

.nav-right-side a {
    display: inline-block;
    padding: 8px 12px;

    font-weight: 400;

    text-decoration: none;

    color: black;

    transition: ease-in-out 0.2s all;
}

.nav-right-side a:hover {
    transform: translateY(-3px);
    text-underline-offset: 8px;
}


/* MAIN CONTENT */


section {
    display: flex;
    flex-direction: column;
    gap: 80px;

}

/* HERO */

.main-content {
    display: flex;
    flex-direction: column;

    gap: 100px;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    text-align: center;

    padding: 25px 0;
    gap: 23px;
    height: 700px;
    margin-bottom: 275px;
}


.hero h1 {
    font-size: 70px;
}

.hero p {
    font-size: 19px;
}

#down-arrow {
    position: absolute;
    bottom: 50px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    animation: bounce 1s infinite;
    transition: opacity 0.5s ease; /* smooth fade */
}

#down-arrow.hidden {
    opacity: 0; 
    pointer-events: none; 
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}


.hero a {
    cursor: pointer;

    padding: 14px 45px;
    margin-top: 20px;

    background-color: rgb(255, 194, 80);
    border: none;
    border-radius: 13px;

    text-decoration: none;
    color: black;

    font-size: 18px;
    font-weight: 400;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.hero a:hover {
    transform: scale(1.04);
    background-color: rgb(255, 182, 47);
    font-weight: 450;
}



/* ABOUT ME */

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 100px;
}

.about-me-img-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 12px;
    
    

    gap: 20px;
    padding: 50px;

    border: 1px solid black;
}

.about-me-img-card-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.about-me-img-card-text h2 {
    font-weight: 400;
    font-size: 30px;
}

.about-me-img-card-text h3 {
    font-weight: 300;
    font-size: 20px;
}

.about-me-img-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;

    
    border-radius: 100%;
}


.about-me-text-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;

    border-radius: 12px;
    border: 1px solid black;

}

.about-me-text-card p {
    font-size: 22px;
    font-weight: 350;
    margin-bottom: auto;
}

.about-me-text-card h1 {
    font-size: 35px;
}

.about-me-text-card a {
    display: inline-block;
    align-self: flex-start;
    
    padding: 14px 45px;
    margin-top: 20px;

    background-color: rgb(255, 194, 80);
    border: none;
    border-radius: 13px;

    text-decoration: none;
    color: black;

    font-size: 18px;
    font-weight: 400;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.about-me-text-card a:hover {
    background-color: rgb(255, 182, 47);
}


/* FEATURED PROJECT */

.featured-projects {
    display: grid;
    gap: 100px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.featured-project-card {
    display: flex;
    flex-direction: column;
    
    gap: 25px;
    margin-top: 25px;

    padding: 35px;
    max-width: 400px;

    border: 1px solid black;

    border-radius: 16px;
}

.featured-project-card img {
    max-width: 100%;

    border-radius: 16px;
}

.featured-project-card a {
    display: inline-block;
    width: fit-content;

    color: black;

    text-decoration: none;

    background-color: rgb(255, 194, 80);
    border: none;
    border-radius: 13px;

    font-size: 18px;
    font-weight: 400;

    padding: 14px 45px;
}

.featured-project-card a:hover {
    background-color: rgb(255, 182, 47);
}

.featured-project-card-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.featured-project-card-text h2 {
    font-size: 26px;
    font-weight: 370;
}

.featured-project-card-text h3 {
    font-weight: 300;
}

